<app-navbar></app-navbar>
<div class="container py-5 h-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="../../../assets/img/loginIMG.svg"
        class="img-fluid" alt="Phone image">
    </div>
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
      <form (ngSubmit)="submitLogin(simpleloginForm)"  #simpleloginForm="ngForm">
        <div class="d-flex align-items-center mb-3 pb-1">
          <span class="h1 fw-bold mb-0">Login</span>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" name="usuario" id="form1Example13" class="form-control form-control-lg" ngModel />
          <label class="form-label" for="form1Example13">Usuario</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password"  name = "passwd"   id="form1Example23" class="form-control form-control-lg" ngModel />
          <label class="form-label" for="form1Example23">Contraseña</label>
        </div>
        <div>
          {{msg}}
        </div>
        <!--
        <div class="d-flex justify-content-around align-items-center mb-4">
          <a href="#!">Forgot password?</a>
        </div>
        -->
        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Sign in</button>
      </form>
    </div>
  </div>
</div>
<!--
<div class="container" >
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-5  rounded m-3 p-3">
                    Logo
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="login_form_styled col-sm-10 col-md-8 col-lg-5 rounded m-3 p-3">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Usuario<span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña<span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Logearse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->
