<app-private-nav></app-private-nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-12">

    </div>
  </div>
  <div class="row">

    <form (ngSubmit)="submitUpdate(simpleUserUpdateForm)"  #simpleUserUpdateForm="ngForm">

    <div class="col-10">
      <div class="row">
        <div class="col-6">
          <div class="row justify-content-center">
            <div class="col-6">
              <div class="card">
                <img src="{{imageProfileDisplay}}" class="card-img-top kawaii-img" alt="...">
                <input type="text" name="image" value="{{image}}" class="form-control rounded-0 rounded-bottom kawaii-input" [(ngModel)]="image">
              </div>
            </div>
          </div>

        </div>
        <div class="col-6">
          <h3>User Info</h3>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <!------------>
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" value="{{username}}" class="form-control kawaii-input-disabled" disabled readonly>
                      </div>
                    </div>
                  </div>
                  <!------------>
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" value="{{email}}" class="form-control kawaii-input-disabled" disabled readonly>
                      </div>
                    </div>
                  </div>
                  <!------------>
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="newpass" placeholder="Change Password" class="form-control kawaii-input" [(ngModel)]="newpasword">
                      </div>
                    </div>
                  </div>
                  <!------------>
                </div>
                <div class="col-6">
                    <!------------>
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" value="{{nombre}}" name="nombre" class="form-control kawaii-input" [(ngModel)]="nombre">
                      </div>
                    </div>
                  </div>
                  <!------------>
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">Apellidos</label>
                        <input type="text" value="{{apellido}}" name="apellidos" class="form-control kawaii-input" [(ngModel)]="apellido">
                      </div>
                    </div>
                  </div>
                  <!------------>
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">Token <span class="text-danger"> (Not enabled)</span></label>
                        <textarea class="form-control token-input" rows="3" disabled>NIB_TK</textarea>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-12 text-end">
                  <button type="submit" class="btn btn-outline-secondary kawaii-btn ">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </form>


  </div>
</div>

<app-admin-panel></app-admin-panel>
