<div *ngIf="enabled_admin_panel">
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-12">
        <h1><svg xmlns="http://www.w3.org/2000/svg" style="width: calc(1.375rem + 1.5vw);" fill="currentColor"
            class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z" />
          </svg> Admin Panel </h1>
      </div>
    </div>


    <div class="row">


      <div class="col-6">

        <!-- ADMIN PANEL-->
        <div class="panel">
          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <input type="text" value="{{nameAPP}}" placeholder="App Name" class="form-control kawaii-input" [(ngModel)]="nameAPP">
                <input type="text" value="{{nameAPPshort}}" placeholder="Short App Name"
                  class="form-control kawaii-input" [(ngModel)]="nameAPPshort">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <a class="btn kawaii-btn" (click)="changeConf()">Guardar</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-3">

      </div>
      <div class="col-3 text-left">
        <!--Other menus-->
        <div class="vertical-menu">
          <b>ADMIN MENU</b>
          <a>Inicio</a>
          <!--
        <a href="#">Usuarios</a>
        <a href="#">Servicios</a>
        <a href="#">Contacto</a>
        -->
        </div>

      </div>

    </div>
  </div>
</div>
