<html>

<head>
  <title>NIB | 404 NOT FOUND PAGE</title>
  <style>
    html,body {

      overflow-y: hidden;
      overflow-x: hidden;
    }

    .s404 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 5rem;
      color: #5693CC;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-4 text-center" style="min-height: 50vh;">
        <div class="mt-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <b class=" text-center  ">
                <div class="position-relative">
                  <div class="position-absolute top-0 start-50  ">
                    <h1>
                      <div class="s404">
                        404
                      </div>
                    </h1>
                    <div style="  height: 10px;background-color:#5693CC; color: transparent;font-size: 5rem;">
                      <h1><a style="text-decoration: none;color:transparent" href="/creadoradenibsuperkawaiipage" target="_blank" >NIB</a></h1><!--Line-->
                    </div>
                    <div>
                      <div class="text-start" style="width: 360px;">
                        Sorry, the page you are looking for cloud not be found
                      </div>
                      <div class="progress" style="background-color: transparent;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: palevioletred ;" [ngStyle]="{'width': widther}" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                          {{text}}
                        </div>
                      </div>
                      <div class="text-start mt-2 ">
                        <a class="btn btn-primary rounded-pill" href="/">Go to Home</a>
                      </div>
                    </div>
                  </div>

                </div>

              </b>
            </div>
          </div>
          <!--<hr>-->
        </div>
      </div>
      <div class="col-sm-8 col-md-8 text-center" style="background-color: #eaf4fe; min-height: 100vh;">
        <div class="">
          <div
            style="background-image: url({{usagi}});background-size: contain; background-repeat: no-repeat; background-position:center;  height:80vh">
          </div>
          <!---
        <img src="{{usagi}}">-->
        </div>
      </div>
    </div>
  </div>
</body>

</html>
