
<app-navbar-static-page></app-navbar-static-page>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p><strong>
                    <h1>Condiciones del servicio</h1>
                </strong></p>
            <p>Al acceder a un sitio creado en NIB usted acepta los siguientes T&eacute;rminos de Servicio. A partir de
                ese momento, NIB tratar&aacute; su uso del Sitio como la aceptaci&oacute;n de los T&eacute;rminos.</p>
            <ol>
                <li>El Sitio se reserva el derecho de cambiar estos t&eacute;rminos en cualquier momento.</li>
                <li>Si usted es menor de edad, entonces no utilizar&aacute; el Sitio.</li>
                <li>El Sitio se le presenta TAL CUAL, sin ninguna garant&iacute;a, expresa o impl&iacute;cita. Usted no
                    responsabilizar&aacute; al Sitio ni a los miembros de su personal por los da&ntilde;os causados por
                    el uso del sitio.</li>
                <li>El Sitio se reserva el derecho de eliminar o modificar su cuenta, o cualquier contenido que haya
                    publicado en el sitio.</li>
                <li>Subir&aacute;s contenido que sea de alta calidad.</li>
                <li>Usted entiende que puede haber contenido en el Sitio que no le atraiga o que sienta que es
                    moralmente incorrecto.</li>
                <li>Usted acepta que el Sitio no es responsable de ning&uacute;n contenido con el que pueda tropezar.
                </li>
                <li>Usted est&aacute; utilizando este sitio s&oacute;lo para uso personal.</li>
                <li>No utilizar&aacute; ning&uacute;n proceso automatizado para recuperar o indexar ninguna parte del
                    sitio o del contenido del sitio, con la excepci&oacute;n de los motores de b&uacute;squeda
                    p&uacute;blicos.</li>
                <li>Los operadores del sitio no est&aacute;n completamente sujetos a estos t&eacute;rminos.</li>
            </ol>
            <p>&nbsp;</p>
            <p><strong>
                    <h2>Contenido prohibido</h2>
                </strong></p>
            <p>Adem&aacute;s, no puede usar el Sitio para cargar ninguno de los siguientes:</p>
            <ol>
                <li>Solo cargue im&aacute;genes SFW (Safe for work). No se permite pornograf&iacute;a o desnudez total.
                </li>
                <li>Pornograf&iacute;a infantil: Cualquier fotograf&iacute;a o dibujo fotorrealista o pel&iacute;cula
                    que represente a los ni&ntilde;os de manera sexual. Esto incluye desnudez, sexo expl&iacute;cito,
                    sexo impl&iacute;cito o posiciones sexualmente persuasivas.</li>
                <li>Marca de agua: Cualquier imagen en la que una persona que no es el propietario original de los
                    derechos de autor ha colocado una marca de agua en la imagen.</li>
                <li>Mal comprimido: Cualquier imagen donde los artefactos de compresi&oacute;n sean f&aacute;cilmente
                    visibles.</li>
            </ol>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bg-white">
                        <div class="text-nowrap bg-body-secondary border ps-3">
                            Sitio web basado en <a href="https://github.com/CBujeda/TFG-PROYECT-Nine_Image_Board"
                                target="_blank" rel="noopener noreferrer">NIB</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
