

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><span><b [ngStyle]="{ 'color': getRandomColor()  }"
        [ngClass]="'word-border'">
        Tags
      </b></span></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row" >
        <div class="col-12">
            <div >
              <b  *ngFor="let i of tagsTable;let p = index" href=""
              [ngStyle]="{ 'font-size': getRandomSize() , 'color': getRandomColor()  }"
              class="ms-1 me-1"
              [ngClass]="'word-border'"
              >

              {{i}}
            </b>
            </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-12">
      <div class="row  justify-content-center">
        <div class="col-6">
          <div class="row  justify-content-center">
            <div class="col-1" *ngFor="let n of numSequence(totalPages); let i = index;">
              <a class="btn btn-outline-secondary" (click)="goPage(i)"> {{i+1}} </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

