<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand">
          <!--<img src="../../../assets/icon.jpg" width="25px" height="25px" onContextMenu="return false;">-->
          <div>
              <div
                  style="height: 30px;width:30px;background-image:url('../../../assets/icon.jpg');background-size: cover;">

              </div>
          </div>
          NIB
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
          </ul>

          <div class="d-flex">
            <a class="btn btn-danger" (click)="close()">Exit</a>
          </div>

      </div>
  </div>
</nav>
