<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SERVER</title>
<style>
body {
	background-color: black;
	color: rgb(255, 128, 255);
	font-weight: bold;
}

.title {
	color: white;
}

.ok {
	color: greenyellow;
	font-weight: bold;
}

.non {
	color: yellow;
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
}

table, th, td {
	border: 1px solid white;
	padding: 2px;
}

 td {
 	padding:8px;
 }
 a {
 	color: rgb(255 209 0);
 	margin: 3px;
 }
 
</style>
</head>
<body>
	<h1 class="title">NIB - BACK SERVER</h1>
</body>
<div>
	<div><a href="#">Main</a> <a href="#">Api Doc</a> <!--  <a href="#">Admin</a> --></div>
	<hr>
	<table class="">
		<tr style="color: cyan;">
			<td>System</td><td>Exists</td>
		</tr>
		
		<tr>
			<td>Server Started </td><td><span class="ok">Ok</span></td>
		</tr>
		<tr>
			<td>Api</td><td><span class="non">Ok</span></td>
		</tr>

	</table>
</div>
</html>